#html{
    background-color: rgb(128, 128, 128);
    /*background-color: rgba(192,192,192,1);
    opacity: 1;
    background-image: radial-gradient(circle at center center, rgba(128,128,128,0.8), rgba(192,192,192,1)), repeating-radial-gradient(circle at center center, rgba(128,128,128,0.8), rgba(128,128,128,0.8), 22px, transparent 44px, transparent 22px);
    background-blend-mode: multiply;*/
}

#htmlpomoc1, #htmlpomoc2{
    background-color: rgb(192, 192, 192);
}

#text{
    background-color: rgb(0, 102, 109);
}

#textpomoc1, #textpomoc2{
    background-color: rgb(100, 243, 255);
}

#photos{
    background-color: rgb(61, 84, 142);
}

#photospomoc1, #photospomoc2{
    background-color: rgb(165, 179, 216);
}

#videos{
    background-color: rgb(0, 92, 132);
}

#videospomoc1, #videospomoc2{
    background-color: rgb(106, 210, 255);
}

#shapes{
    background-color: rgb(242, 184, 0);
}

#shapespomoc1, #shapespomoc2{
    background-color: rgb(255, 218, 106);
}

#buttons{
    background-color: rgb(255, 198, 2);
}

#buttonspomoc1, #buttonspomoc2{
    background-color: rgb(255, 226, 125);
}

#webitems{
    background-color: rgb(159, 74, 0);
}

#webitemspomoc1, #webitemspomoc2{
    background-color: rgb(255, 174, 102);
}

#business{
    background-color: rgb(146, 90, 61);
}

#businesspomoc1, #businesspomoc2{
    background-color: rgb(210, 169, 147);
}

#nature{
    background-color: rgb(206, 24, 5);
}

#naturepomoc1, #naturepomoc2{
    background-color: rgb(251, 107, 91);
}

#food{
    background-color: rgb(255, 106, 6);
}

#foodpomoc1, #foodpomoc2{
    background-color: rgb(255, 166, 106);
}

#holiday{
    background-color: rgb(228, 71, 23);
}

#holidaypomoc1, #holidaypomoc2{
    background-color: rgba(255, 146, 106, 0.937);
}